<h1>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <div style="margin-right: 10px;">
            <img height="144" src="/assets/mtwd_svg_144.svg" />
        </div>
        Welcome!
    </div>
</h1>

<div style="display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;">
    <p>This is my very own place on the web, enjoy!</p>
    <ul>
        <li>
            <a target="_blank" href="https://twitter.com/MarcoTraspel">Twitter</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/mt-webdev">GitHub</a>
        </li>
        <li>
            <a target="_blank" href="https://codepen.io/MT-WebDev">Codepen</a>
        </li>
    </ul>
    <ul>
        <li>
            <a target="_blank" ref="http://bit.ly/mt-webdev-cv">CV</a>
        </li>
    </ul>
    <ul>
        <li>
            <a target="_blank" href="https://www.xing.com/profile/Marco_Traspel">Xing</a>
        </li>
        <li>
            <a target="_blank" href="https://www.linkedin.com/in/marco-traspel-654ba6a9">LinkedIn</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>